In [2]:
import pandas as pd

#define DataFrame
df = pd.DataFrame({'$team':['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
                   '$points': [25, 12, 15, 14, 19, 23, 25, 29],
                   '$assists': [5, 7, 7, 9, 12, 9, 9, 4],
                   '$rebounds': [11, 8, 10, 6, 6, 5, 9, 12]})

#list column names
list(df)

# ['team', 'points', 'assists', 'rebounds']

#rename $ with blank in every column name
# df.columns = df.columns.str.replace('$', '')

#view updated list of column names
# list(df)

# ['team', 'points', 'assists', 'rebounds']

['$team', '$points', '$assists', '$rebounds']

In [3]:
#rename $ with blank in every column name
df.columns = df.columns.str.replace('$', '')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6332\3859947043.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('$', '')

In [4]:
#view updated list of column names
list(df)

# ['team', 'points', 'assists', 'rebounds']

['team', 'points', 'assists', 'rebounds']

In [5]:
alumni = pd.read_csv('alumni.csv')

In [6]:
alumni

,Year Graduated,Gender,Marital Status,Diploma Type,Defaulted,Salary,Fee,Savings ($)
0,2004,Male,Single,Standard Diploma,Yes,125000,10869,"$86,000"
1,2005,Male,Married,College Prep Diploma,No,100000,10869,"$116,000"
2,2006,Female,Single,Standard Diploma,Yes,70000,10869,"$52,000"
3,2007,Male,Married,Standard Diploma,No,120000,10869,"$76,000"
4,2006,Female,Divorced,Standard Diploma,Yes,95000,11948,"$52,000"
...,...,...,...,...,...,...,...,...
83,2007,Male,Single,Standard Diploma,No,75000,12066,"$16,000"
84,2008,M,Single,College Prep Diploma,Yes,65000,12066,"$72,000"
85,2009,Male,Married,Standard Diploma,No,75000,12066,"$46,000"
86,2005,Female,Divorced,Standard Diploma,Yes,100000,12067,"$32,000"
87,2006,Male,Married,Standard Diploma,Yes,75000,12067,"$67,000"

In [25]:
#rename specific column names
alumni.rename(columns = {'Savings($)':'Savings'}, inplace = True)
#alumni

In [38]:
alumni.columns = alumni.columns.str.replace('Savings($)','Savings')
alumni

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6332\246290575.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  alumni.columns = alumni.columns.str.replace('Savings($)','Savings')

,Year Graduated,Gender,Marital Status,Diploma Type,Defaulted,Salary,Fee,Savings ()
0,2004,Male,Single,Standard Diploma,Yes,125000,10869,"$86,000"
1,2005,Male,Married,College Prep Diploma,No,100000,10869,"$116,000"
2,2006,Female,Single,Standard Diploma,Yes,70000,10869,"$52,000"
3,2007,Male,Married,Standard Diploma,No,120000,10869,"$76,000"
4,2006,Female,Divorced,Standard Diploma,Yes,95000,11948,"$52,000"
...,...,...,...,...,...,...,...,...
83,2007,Male,Single,Standard Diploma,No,75000,12066,"$16,000"
84,2008,M,Single,College Prep Diploma,Yes,65000,12066,"$72,000"
85,2009,Male,Married,Standard Diploma,No,75000,12066,"$46,000"
86,2005,Female,Divorced,Standard Diploma,Yes,100000,12067,"$32,000"
87,2006,Male,Married,Standard Diploma,Yes,75000,12067,"$67,000"

In [39]:

alumni.columns = alumni.columns.str.replace('($)', '')
#alumni

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6332\2942330430.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  alumni.columns = alumni.columns.str.replace('($)', '')

def clean_currency(x):

    """ If the value is a string, then remove currency symbol and delimiters
    otherwise, the value is numeric and can be converted
    """
    
    if isinstance(x, str):
        return(x.replace('$', '').replace(',', ''))
        
    return(x)

In [14]:
def clean_currency(curr):
    if isinstance(x, str):
        return float(curr.replace(",", "").replace("$", ""))

clean_currency("$66,000")

NameError: name 'x' is not defined

In [15]:
def clean_currency(curr):
    if isinstance(curr, str):
        return float(curr.replace(",", "").replace("$", ""))
    return curr.str.replace(",", "").str.replace("$", "").astype(float)

In [17]:
clean_currency('$86,000')

86000.0

In [20]:
clean_currency(alumni.Savings)

AttributeError: 'DataFrame' object has no attribute 'Savings'

In [18]:
def clean_currency(Savings$):
    if isinstance(Savings ($), str):
        return float(Savings ($).replace(",", "").replace("$", ""))
    return Savings ($).str.replace(",", "").str.replace("$", "").astype(float)

SyntaxError: invalid syntax (1597032656.py, line 1)